<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>242174237261-d1a0o36vrca591o4kq78bilc0q6hm7pt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242174237261-d1a0o36vrca591o4kq78bilc0q6hm7pt</string>
	<key>API_KEY</key>
	<string>AIzaSyCeUlZdlUrkAyByeFXto4X0piRh_tTe8vs</string>
	<key>GCM_SENDER_ID</key>
	<string>242174237261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FilebaseSocialLogin</string>
	<key>PROJECT_ID</key>
	<string>useful-atlas-225809</string>
	<key>STORAGE_BUCKET</key>
	<string>useful-atlas-225809.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242174237261:ios:d4e1de493290118e</string>
	<key>DATABASE_URL</key>
	<string>https://useful-atlas-225809.firebaseio.com</string>
</dict>
</plist>